.contact-box{color:#676a6c;}
.to-home{font-size:16px;}
.to-home:hover{color:#337ab7; text-decoration:none;}
address{font-size:13px;}
.footable .audit a{color:#6d7072; text-decoration: none;}
.footable .audit a:hover{color:#0d8ddb; font-weight:600;}
.audit-user-portrait{width:30px; height:30px; border-radius:50%;margin-right:5px;}
.user-search-text{
    display: inline-block;
    width: 90%;
    width:-moz-calc(100% - (50px));
    width:-webkit-calc(100% - (50px));
    width: calc(100% - (50px));
}
.user-status-select, .user-type-select{
    display:inline-block;
    width:-moz-calc(100% - (80px));
    width:-webkit-calc(100% - (80px));
    width: calc(100% - (80px));
}
.user-portrait-box{
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin: 0;
    position:relative;
}
.user-portrait{
    position:absolute;
    width: 100%;
    height: 100%;
}