.contact-box{color:#676a6c;}
.to-home{font-size:16px;}
.to-home:hover{color:#337ab7; text-decoration:none;}
address{font-size:13px;}
.footable .audit a{color:#6d7072; text-decoration: none;}
.footable .audit a:hover{color:#0d8ddb; font-weight:600;}
.audit-user-portrait{width:30px; height:30px; border-radius:50%;margin-right:5px;}