*{margin:0;	padding:0;}
body{
	width: 100%;
    background: #b4daf0;
    color: #676a6c;
	/*background: -ms-linear-gradient(top, #11c1d8,  #a0e3ec);   !* IE 10 *!
	background:-webkit-linear-gradient(#11c1d8, #a0e3ec); !* google *!
	background:-moz-linear-gradient(top,#11c1d8,#a0e3ec); !*火狐*!
	background: -webkit-linear-gradient(top, #11c1d8, #a0e3ec);   !*Safari5.1 Chrome 10+*!
	background: -o-linear-gradient(top, #11c1d8, #a0e3ec);  !*Opera 11.10+*!*/
}
/*------公共样式--------*/
.list-group-item > a{text-decoration: none;}
.top10{margin-top: 10px;}
.top60{margin-top: 60px;}
.bot50{margin-bottom: 50px;}
.fl{float: left;}
.fr{float: right;}
.imgr{border-radius: 50%;}
.mrg20{margin: 20px;}
.mrg-t-5{margin-top:5px;}
.mrg-l-5{margin-left:5px;}
.mrg-r-5{margin-right:5px;}
.mrg-b-5{margin-bottom:5px;}
.mrg-t-10{margin-top:10px;}
.mrg-r-10{margin-right:10px;}
.mrg-l-10{margin-left:10px;}
.mrg-b-10{margin-bottom:10px;}
.mrg-t-20{margin-top:20px;}
.mrg-r-20{margin-right:20px;}
.mrg-l-20{margin-left:20px;}
.mrg-b-20{margin-bottom:20px;}
.cf{clear: left;}
em{font-style: normal;}

/*----------置顶---------*/
.to-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width:48px;
    height:48px;
    opacity: .5;
    border-radius: 5px;
    background: #f1e5e5;
}
.to-top img{width: 100%;height: 100%;}
.to-top:hover{
    cursor: pointer;
    opacity: 1;
    background: rgba(216,193,193);
}
@media screen and (max-width: 767px){
    .to-top{width: 30px;height: 30px;}
}
/*-------登录---------*/
.login-container{
    position: fixed;
    top: 0;
    z-index: 9999;

    display: none;
    width: 100%;
    height: 100%;
}
.login-box-show{
    position: fixed;
    top: 50px;
    left: 50%;

    width: 320px;
    margin-left: -160px;
    display: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow-x: hidden;
}
.login-box-all{
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.login-box-all > div{
    background-color: #fff;
    margin: 0 10px;
}
.login-box-all > div .panel-heading{
    font-size: 20px;
    height: 40px;
    border-bottom: 1px solid #d3dbdc;
}
.login-box-all > div .panel-heading a{display: block;}
.login-box-all > div .panel-heading a:hover{color: #676a6c;}
.login-box-all > div .panel-heading a > i{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    -webkit-transition: all 0.4s ease-out;
    -moz-transition:  all 0.4s ease-out;
    -ms-transition:  all 0.4s ease-out;
    -o-transition:  all 0.4s ease-out;
    transition:  all 0.4s ease-out;
}
.login-box-all > div .panel-heading a > i:hover{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

    -webkit-transition: all 0.4s ease-out;
    -moz-transition:  all 0.4s ease-out;
    -ms-transition:  all 0.4s ease-out;
    -o-transition:  all 0.4s ease-out;
    transition:  all 0.4s ease-out;
}
.login-box-all > div input{height: 40px; font-size: 16px; color: #000;}
@media screen and (max-width: 480px) {
    .login-box input{height: 30px; font-size: 14px;}
}
.login-box-all .btn-box .btn{width: 100%; margin-top: 5px;}
/*-------头部---------*/
.qshare-header{
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
	height: 50px;
	margin: 0;
	background-image: url('../img/qshare-header-back.jpg');
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	padding: 0 36px;
	border-radius: 0;
}
@media screen and (max-width:767px) {
	.qshare-header {padding: 0;}
}
/* 头部logo样式 */
.qshare-logo{width: 120px;height: 50px;}
.qshare-logo img{width: auto;height: 50px;}
.nav-user-portrait{
    float:left;
    margin-right:5px;
    width:20px;
    height:20px;
    border-radius:50%;
}
.nav-user-nickname{
    float: left;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 头部导航 */
.navbar-nav{float: right;}
.navbar-nav > li > a{color: #d67979 !important;}
.navbar-nav > .active > a, .navbar-nav > .open > a{background: rgba(150,206,228,.5) !important;}
/* 导航下拉菜单样式修改 */
.dropdown-menu{background-color: #b4eaf4;}
.dropdown-menu > li > a{color: #d67979 !important;}
.dropdown-menu > .active > a{background: #13e2bc;}
@media screen and (max-width:767px) {
	.navbar-nav {
		float: left;
		width: 100%;
		margin: 0;
		background: #c7edf6 !important;
	}
	.navbar-collapse{padding: 0;}
	.navbar-nav > li > a{color: #008000 !important;}
	.dropdown-menu > li >a{color: #e27e29 !important;}
	.qshare-header .qshare-logo{margin-left: 10px;}
}
/*--------主要内容---------*/
.qshare-main{min-height: 600px;}
.mym{margin-left: 0; margin-right: 0;}
/* 左侧个人信息块 */
.myleft{
    background-color: rgba(214,133,208,.25);
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    border-radius: 3px;
}
.myleft .user-portrait{
    background: url('../img/portrait-back.jpg') no-repeat;
    padding: 20px;
    border-radius: 5px 5px 0 0;
}
.friend-dynamic, .attention-dynamic{margin: 5px 0;}
.friend-dynamic a, .attention-dynamic a{text-decoration: none;}
/* 右侧分享信息块 */
.myright{margin-left: 0; margin-right: 0;}
/* 搜索栏 */
.search-text{
    display: inline-block;
    width:90%;
    width:-moz-calc(100% - (80px));
    width:-webkit-calc(100% - (80px));
    width: calc(100% - (80px));
}
@media screen and (max-width:767px){
	.myleft{
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	.myright{padding:0 !important;}
    .search-btn-text{display: none;}
    .search-box{
        width:90%;
        width:-moz-calc(100% - (50px));
        width:-webkit-calc(100% - (50px));
        width: calc(100% - (50px));
    }
    .myleft, .myleft .user-portrait, .panel-info, #loadMore{border-radius:0;box-shadow:none;}
}
/* 评论内容 */
.show-eval-box{margin: 0;list-style:none;}
.show-eval-box > li, .reply-box li{margin-top: 5px;}
.show-eval-box > li > div, .reply-box > ul > li > div{display: inline-block;}
.show-eval-box .eval-portrait, .reply-box .eval-sub-portrait{position: absolute;}
.show-eval-box .eval-portrait > img, .reply-box .eval-sub-portrait > img{
    width:40px;
    height:40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.show-eval-box .eval-content, .reply-box .eval-sub-content{margin-left: 45px; width: calc(100% - 45px);}
.show-eval-box .eval-tool > a, .reply-box .reply-tool > a{
    margin-left: 10px;
    cursor: pointer;
    color: #ad9d9d;
    display: none;
}
.reply-box{margin-left: 45px;}
@media screen and (max-width:767px) {
    .reply-box{margin-left:0;}
}

/* 头像设置 */
.portrait{width: 80px;height: 80px;}
/* 左边个人信息 */
.myleft .user-info{padding-top:10px;}
.user-info a{text-decoration:none;color:#cacaca;}
.user-info .nickname:hover{color: #fff;}
.addr{color:#92a3ca;max-width:220px;overflow:hidden;}

@media screen and (max-width:767px) {
	.qshare-main {padding: 0;margin-top: 50px;}
}
@media screen and (max-width: 991px){
    .myleft{
        padding: 15px;
        margin-bottom: 10px;
    }
}
/* 分享信息主题 */
.share-theme{
    width: 100%;
    height: 30px;
    border-width: 1px;
    background-color: #FAFAFA;
    box-shadow: 1px 1px 2px rgba(0,0,0,.2);
    border-radius: 3px;
    margin-bottom: 10px;
}
/* 分享信息内容块 */
.share-content{
    background-color: #FAFAFA;
    box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    border-radius: 3px;
    resize: none;
}
/* 信息输入文本域 */
.wordCount{position:relative;width: auto;}
.wordCount textarea{width: 100%;height: 120px;}
.wordCount .wordwrap{
	position:absolute;
	right: 6px;
	bottom: 6px;
}
.wordCount .word{color: #676a6c;padding: 0 4px;}
/*分享视频*/
.add-video{width: 300px; height: 180px;}
.add-video .remove-video{
    margin-top: -180px;
    z-index: 1;
    float: right;
    background-color: rgba(218,191,191,.7);
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}
.jwlogo{display:none;}
/* 分享信息类别选择 */
.share-type{min-width:100px !important; height: 150px;overflow-y: auto;}
.share-type > li > a, .visibility-type > li > a{color: #777;}
@media screen and(max-width: 767px){
	.share-type{left: 16px;}
	.share-type > li > a, .visibility-type > li > a{color: #777 !important;}
}
.myright-n{box-shadow: 2px 3px 3px rgba(0,0,0,.2);}
/* 分享信息内容底部工具栏 */
.footer-left, .footer-right{display: inline-block;}
/* 表情选择样式 */
.emotion-img{width: 22px;height: 22px;border-radius: 50%;}
.emotion-img > img{margin-bottom: 8px;}
.share-panel .panel-footer{height: 50px;}
.title-center > a{text-decoration: none;}
.title-center > .user-title{font-weight:bold;}
.footer-left{margin-top: 10px;}
.footer-tool{width: 100%; text-align: right;}
.footer-left > a, .footer-tool > a{text-decoration: none; margin-left: 10px;}
.insert-attachment:hover, .footer-tool > a:hover, .panel a:hover{color: #676a6c;}
.panel{margin-bottom: 10px;}
@media screen and (max-width:767px){
    .share-panel .panel-footer{height: 100px;}
    .share-panel .panel-footer>div{width:100%;}
    .share-panel .panel-footer .footer-right{margin-top:10px;}
}
@media screen and (max-width:480px){
    .share-video-box video{width:100%; height:100%;}
}

/*--------分享信息共享面板------*/
.share-info .panel-heading{border-bottom:1px solid #ddd;}
.share-info .panel-heading > div{display: inline-block;}
.share-info .thumb-transpond{border-top: 1px solid #ddd; color: #337ab7;}
.share-info .add-eval-box{text-align: right;width:100%;margin-top:5px;}
.share-info > .panel-heading{height: 60px;}
.share-info > .panel-heading > .title-center{
    margin-left: 10px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.share-info > .panel-heading > .title-center small{
	margin-top: 5px;
	display: block;
	color: #acaab9;
}
@media screen and (max-width:767px){
    .myright-n{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius:0;
        border:0;
    }
    .form-control{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .share-info > .panel-heading > .title-center{width: 79%;}
}
@media screen and (max-width:480px){
	.share-info > .panel-heading > .title-center{width: 69%;}
    .share-info .footer-tool > a{
        width: 65px;
        display: inline-block;
        text-align: center;
        border-left: 1px solid #ccc;
        margin:0;
    }
    .thumb-text, .collect-text, .transpond-text, .eval-text{display:none;}
}
.transpond-content > a{
    text-decoration: none;
}
.share-img-box{
    margin-top: 5px;
}
.share-img-info{
    width: 80px;
    height: 80px;
    margin: 2px;
}
.share-info-type{
    float: left;
    font-size: .8em;
    height: 16px;
    padding: 0 1px;
    color: #c3b3b3;
    border: 1px solid #c3b3b3;
    border-radius: 3px;
}
.pull-left > img{
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
/*-------加载数据---------*/
.load-more{cursor: pointer;}

/*--------上传图片----------*/
.add-img-box{height: 200px; padding-top: 20px;}
.add-img-box > div{
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 5px;
    margin-bottom: 10px;
}
@media screen and (max-width: 480px){
    .add-img-box{height: 300px;}
}
@media screen and (max-width: 320px){
    .add-img-box > div{margin-right: 2px !important;}
}
.add-img > .remove-img{
    float: right;
    margin-top: -80px;

    background-color: rgba(218,191,191,.7);
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.add-img > .remove-img:hover{
    cursor: pointer;
    color: #76a5e0;
}
.add-img-btn{
    border: 2px dashed #ccc !important;
    display: inline-block;
    color: #ccc;
}
.add-img-btn:hover{
    border-color: #d49c74 !important;
    color: #d49c74;
}
.add-img-btn > i{
    position: relative;
    top: -2px;
    left: -2px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 40px;
}
.add-img-btn > input:hover{cursor: pointer;}
.add-img-btn > input{
    position: relative;
    top: -82px;
    left: -2px;
    width: 80px;
    height: 80px;
    opacity: 0;
}

/*--------版权声明--------*/
.qshare-footer{
	width: 100%;
	background: #fff;
	text-align: center;
    padding: 15px;
}

/*---------上传进度---------*/
.upload-progress{
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
}
.upload-progress .progress{
    width: 40%;
    margin: 200px auto 0 auto;
}
@media screen and (max-width: 480px){
    .upload-progress .progress{
        width: 80%;
        margin: 100px auto 0 auto;
    }
}