<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.gmxx.share.dao.FriendMapper" >
  <resultMap id="BaseResultMap" type="edu.gmxx.share.domain.Friend" >
    <id column="friend_id" property="friendId" jdbcType="VARCHAR" />
    <result column="auser_id" property="auserId" jdbcType="VARCHAR" />
    <result column="buser_id" property="buserId" jdbcType="VARCHAR" />
    <result column="group_id" property="groupId" jdbcType="VARCHAR" />
    <result column="is_friend" property="isFriend" jdbcType="TINYINT" />
    <result column="is_attention" property="isAttention" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    friend_id, auser_id, buser_id, group_id, is_friend, is_attention, create_time, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from s_friend
    where friend_id = #{friendId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from s_friend
    where friend_id = #{friendId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.gmxx.share.domain.Friend" >
    insert into s_friend (friend_id, auser_id, buser_id, 
      group_id, is_friend, is_attention, create_time, remark
      )
    values (#{friendId,jdbcType=VARCHAR}, #{auserId,jdbcType=VARCHAR}, #{buserId,jdbcType=VARCHAR}, 
      #{groupId,jdbcType=VARCHAR}, #{isFriend,jdbcType=TINYINT}, #{isAttention,jdbcType=TINYINT},
      #{createTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.gmxx.share.domain.Friend" >
    insert into s_friend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="friendId != null" >
        friend_id,
      </if>
      <if test="auserId != null" >
        auser_id,
      </if>
      <if test="buserId != null" >
        buser_id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="isFriend != null" >
        is_friend,
      </if>
      <if test="isAttention != null" >
        is_attention,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="friendId != null" >
        #{friendId,jdbcType=VARCHAR},
      </if>
      <if test="auserId != null" >
        #{auserId,jdbcType=VARCHAR},
      </if>
      <if test="buserId != null" >
        #{buserId,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="isFriend != null" >
        #{isFriend,jdbcType=TINYINT},
      </if>
      <if test="isAttention != null" >
        #{isAttention,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.gmxx.share.domain.Friend" >
    update s_friend
    <set >
      <if test="auserId != null" >
        auser_id = #{auserId,jdbcType=VARCHAR},
      </if>
      <if test="buserId != null" >
        buser_id = #{buserId,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="isFriend != null" >
        is_friend = #{isFriend,jdbcType=TINYINT},
      </if>
      <if test="isAttention != null" >
        is_attention = #{isAttention,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where friend_id = #{friendId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.gmxx.share.domain.Friend" >
    update s_friend
    set auser_id = #{auserId,jdbcType=VARCHAR},
      buser_id = #{buserId,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=VARCHAR},
      is_friend = #{isFriend,jdbcType=TINYINT},
      is_attention = #{isAttention,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
    where friend_id = #{friendId,jdbcType=VARCHAR}
  </update>

  <select id="getFriendByGroupId" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM s_friend
    WHERE group_id = #{groupId,jdbcType=VARCHAR}
    AND is_friend = 1
    ORDER BY create_time
  </select>

  <select id="getFriendCountByGroup" parameterType="java.lang.String" resultType="int">
    SELECT
    COUNT(friend_id)
    FROM s_friend
    WHERE group_id = #{groupId,jdbcType=VARCHAR} AND is_friend = 1
  </select>

  <delete id="deleteFriend" parameterType="edu.gmxx.share.domain.Friend">
    DELETE FROM s_friend
    WHERE
    is_friend = 1 and(
      (auser_id = #{auserId,jdbcType=VARCHAR} AND buser_id = #{buserId,jdbcType=VARCHAR})
    OR
      (buser_id = #{auserId,jdbcType=VARCHAR} AND auser_id = #{buserId,jdbcType=VARCHAR}))
  </delete>

  <select id="getFriendByUser" parameterType="edu.gmxx.share.domain.Friend" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM s_friend
    WHERE auser_id = #{auserId,jdbcType=VARCHAR} AND buser_id = #{buserId,jdbcType=VARCHAR} AND is_friend = 0 AND is_attention = 0
  </select>

  <select id="getFriendCountByUser" parameterType="java.lang.String" resultType="int">
    SELECT COUNT(friend_id) FROM s_friend
    WHERE is_friend = 1 AND auser_id = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="getAttentionByABUser" parameterType="edu.gmxx.share.domain.Friend" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM s_friend
    WHERE is_attention = 1 AND is_friend = 0
    AND auser_id = #{auserId,jdbcType=VARCHAR}
    AND buser_id = #{buserId,jdbcType=VARCHAR}
  </select>

  <select id="getFriendByABUser" parameterType="edu.gmxx.share.domain.Friend" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM s_friend
    WHERE is_friend = 1
    AND auser_id = #{auserId,jdbcType=VARCHAR}
    AND buser_id = #{buserId,jdbcType=VARCHAR}
  </select>

  <select id="getMeAttentionWhoCount" parameterType="java.lang.String" resultType="int">
    SELECT COUNT(friend_id) FROM s_friend
    WHERE is_attention = 1 AND auser_id = #{auserId,jdbcType=VARCHAR}
  </select>

  <select id="getMeAttentionWho" parameterType="edu.gmxx.share.dto.UserDTO" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM s_friend
    WHERE is_attention = 1 AND auser_id = #{user.userId,jdbcType=VARCHAR}
    ORDER BY create_time
    LIMIT #{page.currentCount},#{page.pageSize}
  </select>

  <select id="getWhoAttentionMeCount" parameterType="java.lang.String" resultType="int">
    SELECT COUNT(friend_id) FROM s_friend
    WHERE is_attention = 1 AND buser_id = #{buserId,jdbcType=VARCHAR}
  </select>

  <select id="getWhoAttentionMe" parameterType="edu.gmxx.share.dto.UserDTO" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM s_friend
    WHERE is_attention = 1 AND buser_id = #{user.userId,jdbcType=VARCHAR}
    ORDER BY create_time
    LIMIT #{page.currentCount},#{page.pageSize}
  </select>

  <select id="abUserIsFriend" parameterType="edu.gmxx.share.domain.Friend" resultType="int">
    SELECT COUNT(friend_id)
    FROM s_friend
    WHERE is_friend = 1
    AND (
      (auser_id = #{auserId,jdbcType=VARCHAR} AND buser_id = #{buserId,jdbcType=VARCHAR})
      OR (auser_id = #{buserId,jdbcType=VARCHAR} AND buser_id = #{auserId,jdbcType=VARCHAR})
    )
  </select>

  <select id="getRequireFriend" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM s_friend
    WHERE is_friend = 0 AND is_attention = 0
    AND buser_id = #{userId,jdbcType=VARCHAR}
  </select>
</mapper>