<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.gmxx.share.dao.InformMapper" >
  <resultMap id="BaseResultMap" type="edu.gmxx.share.domain.Inform" >
    <id column="inform_id" property="informId" jdbcType="VARCHAR" />
    <result column="auser_id" property="auserId" jdbcType="VARCHAR" />
    <result column="buser_id" property="buserId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="audit_user_id" property="auditUserId" jdbcType="VARCHAR" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="audit_status" property="auditStatus" jdbcType="VARCHAR" />
    <result column="inform_content" property="informContent" jdbcType="VARCHAR" />
    <result column="audit_remark" property="auditRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    inform_id, auser_id, buser_id, create_time, audit_user_id, audit_time, audit_status, 
    inform_content, audit_remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from s_inform
    where inform_id = #{informId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from s_inform
    where inform_id = #{informId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.gmxx.share.domain.Inform" >
    insert into s_inform (inform_id, auser_id, buser_id, 
      create_time, audit_user_id, audit_time, 
      audit_status, inform_content, audit_remark)
    values (#{informId,jdbcType=VARCHAR}, #{auserId,jdbcType=VARCHAR}, #{buserId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{auditUserId,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{auditStatus,jdbcType=VARCHAR}, #{informContent,jdbcType=VARCHAR}, #{auditRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.gmxx.share.domain.Inform" >
    insert into s_inform
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="informId != null" >
        inform_id,
      </if>
      <if test="auserId != null" >
        auser_id,
      </if>
      <if test="buserId != null" >
        buser_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="auditUserId != null" >
        audit_user_id,
      </if>
      <if test="auditTime != null" >
        audit_time,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="informContent != null" >
        inform_content,
      </if>
      <if test="auditRemark != null">
        audit_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="informId != null" >
        #{informId,jdbcType=VARCHAR},
      </if>
      <if test="auserId != null" >
        #{auserId,jdbcType=VARCHAR},
      </if>
      <if test="buserId != null" >
        #{buserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditUserId != null" >
        #{auditUserId,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="informContent != null" >
        #{informContent,jdbcType=VARCHAR},
      </if>
      <if test="auditRemark != null">
        #{auditRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.gmxx.share.domain.Inform" >
    update s_inform
    <set >
      <if test="auserId != null" >
        auser_id = #{auserId,jdbcType=VARCHAR},
      </if>
      <if test="buserId != null" >
        buser_id = #{buserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditUserId != null" >
        audit_user_id = #{auditUserId,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="informContent != null" >
        inform_content = #{informContent,jdbcType=VARCHAR},
      </if>
      <if test="auditRemark != null">
        audit_remark = #{auditRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where inform_id = #{informId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.gmxx.share.domain.Inform" >
    update s_inform
    set auser_id = #{auserId,jdbcType=VARCHAR},
      buser_id = #{buserId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      audit_user_id = #{auditUserId,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      audit_status = #{auditStatus,jdbcType=VARCHAR},
      inform_content = #{informContent,jdbcType=VARCHAR},
      audit_remark = #{auditRemark,jdbcType=VARCHAR}
    where inform_id = #{informId,jdbcType=VARCHAR}
  </update>

  <select id="getInformDataByStatusCount" parameterType="java.lang.String" resultType="int">
    SELECT count(inform_id)
    FROM s_inform
    <if test="status!= 'ALL'">
      WHERE audit_status = #{status,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="getInformDataByStatus" parameterType="edu.gmxx.share.dto.InformDTO" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM s_inform
    <if test="inform.auditStatus != 'ALL'">
      WHERE audit_status = #{inform.auditStatus,jdbcType=VARCHAR}
    </if>
    ORDER BY create_time DESC
    LIMIT #{page.currentCount},#{page.pageSize}
  </select>
</mapper>