<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.gmxx.share.dao.ShareMapper" >
  <resultMap id="BaseResultMap" type="edu.gmxx.share.domain.Share" >
    <id column="share_id" property="shareId" jdbcType="VARCHAR" />
    <result column="share_title" property="shareTitle" jdbcType="VARCHAR" />
    <result column="share_content" property="shareContent" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="music_path" property="musicPath" jdbcType="VARCHAR" />
    <result column="video_path" property="videoPath" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="visible" property="visible" jdbcType="VARCHAR" />
    <result column="share_type_id" property="shareTypeId" jdbcType="VARCHAR" />
    <result column="del_status" property="delStatus" jdbcType="INTEGER" />
    <result column="img_info" property="imgInfo" jdbcType="LONGVARCHAR" />
    <result column="transpond_id" property="transpondId" jdbcType="VARCHAR" />
    <result column="thumb_up_id" property="thumbUpId" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    share_id, share_title, share_content, create_time, music_path, video_path, user_id, 
    visible, share_type_id, del_status, img_info, transpond_id, thumb_up_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from s_share
    where share_id = #{shareId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from s_share
    where share_id = #{shareId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.gmxx.share.domain.Share" >
    insert into s_share (share_id, share_title, share_content, 
      create_time, music_path, video_path, 
      user_id, visible, share_type_id, 
      del_status, img_info, transpond_id, 
      thumb_up_id)
    values (#{shareId,jdbcType=VARCHAR}, #{shareTitle,jdbcType=VARCHAR}, #{shareContent,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{musicPath,jdbcType=VARCHAR}, #{videoPath,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{visible,jdbcType=VARCHAR}, #{shareTypeId,jdbcType=VARCHAR}, 
      #{delStatus,jdbcType=INTEGER}, #{imgInfo,jdbcType=LONGVARCHAR}, #{transpondId,jdbcType=VARCHAR},
      #{thumbUpId,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.gmxx.share.domain.Share" >
    insert into s_share
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shareId != null" >
        share_id,
      </if>
      <if test="shareTitle != null" >
        share_title,
      </if>
      <if test="shareContent != null" >
        share_content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="musicPath != null" >
        music_path,
      </if>
      <if test="videoPath != null" >
        video_path,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="visible != null" >
        visible,
      </if>
      <if test="shareTypeId != null" >
        share_type_id,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
      <if test="imgInfo != null" >
        img_info,
      </if>
      <if test="transpondId != null" >
        transpond_id,
      </if>
      <if test="thumbUpId != null" >
        thumb_up_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shareId != null" >
        #{shareId,jdbcType=VARCHAR},
      </if>
      <if test="shareTitle != null" >
        #{shareTitle,jdbcType=VARCHAR},
      </if>
      <if test="shareContent != null" >
        #{shareContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="musicPath != null" >
        #{musicPath,jdbcType=VARCHAR},
      </if>
      <if test="videoPath != null" >
        #{videoPath,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="visible != null" >
        #{visible,jdbcType=VARCHAR},
      </if>
      <if test="shareTypeId != null" >
        #{shareTypeId,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="imgInfo != null" >
        #{imgInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="transpondId != null" >
        #{transpondId,jdbcType=VARCHAR},
      </if>
      <if test="thumbUpId != null" >
        #{thumbUpId,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.gmxx.share.domain.Share" >
    update s_share
    <set >
      <if test="shareTitle != null" >
        share_title = #{shareTitle,jdbcType=VARCHAR},
      </if>
      <if test="shareContent != null" >
        share_content = #{shareContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="musicPath != null" >
        music_path = #{musicPath,jdbcType=VARCHAR},
      </if>
      <if test="videoPath != null" >
        video_path = #{videoPath,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="visible != null" >
        visible = #{visible,jdbcType=VARCHAR},
      </if>
      <if test="shareTypeId != null" >
        share_type_id = #{shareTypeId,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null" >
        del_status = #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="imgInfo != null" >
        img_info = #{imgInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="transpondId != null" >
        transpond_id = #{transpondId,jdbcType=VARCHAR},
      </if>
      <if test="thumbUpId != null" >
        thumb_up_id = #{thumbUpId,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where share_id = #{shareId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.gmxx.share.domain.Share" >
    update s_share
    set share_title = #{shareTitle,jdbcType=VARCHAR},
      share_content = #{shareContent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      music_path = #{musicPath,jdbcType=VARCHAR},
      video_path = #{videoPath,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      visible = #{visible,jdbcType=VARCHAR},
      share_type_id = #{shareTypeId,jdbcType=VARCHAR},
      del_status = #{delStatus,jdbcType=INTEGER},
      img_info = #{imgInfo,jdbcType=LONGVARCHAR},
      transpond_id = #{transpondId,jdbcType=VARCHAR},
      thumb_up_id = #{thumbUpId,jdbcType=LONGVARCHAR}
    where share_id = #{shareId,jdbcType=VARCHAR},
  </update>

  <select id="getShareByType" parameterType="edu.gmxx.share.dto.ShareDTO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from s_share
    <where>
      del_status = 0
      <if test="share.shareTypeId != 'all'">
        AND share_type_id = #{share.shareTypeId,jdbcType=VARCHAR}
      </if>
      <if test="share.userId != null">
        AND user_id = #{share.userId,jdbcType=VARCHAR}
      </if>
    </where>
    ORDER BY CREATE_TIME DESC
    LIMIT #{page.currentCount},#{page.pageSize}
  </select>

  <select id="getShareCount" parameterType="edu.gmxx.share.domain.Share" resultType="int">
    SELECT COUNT(share_id) FROM s_share
    <where>
      del_status = 0
      <if test="shareTypeId != 'all'">
        AND share_type_id = #{shareTypeId,jdbcType=VARCHAR}
      </if>
      <if test="userId != null">
        AND user_id = #{userId,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <select id="getShareCountByUser" parameterType="java.lang.String" resultType="int">
    SELECT count(share_id) FROM s_share WHERE del_status = 0 AND user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="getCollectShare" parameterType="edu.gmxx.share.dto.ShareDTO" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List"/>
    FROM
      s_share
    WHERE share_id in(
      SELECT
        c.share_id
      FROM
        s_collect c
      WHERE
        c.user_id = #{share.userId,jdbcType=VARCHAR}
    ) AND del_status = 0
    ORDER BY create_time DESC
    LIMIT #{page.currentCount},#{page.pageSize}
  </select>

  <select id="getFriendDynamic" parameterType="edu.gmxx.share.dto.ShareDTO" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from s_share
    where user_id in (
      SELECT buser_id user_id FROM s_friend
      WHERE is_friend = 1  AND auser_id = #{share.userId,jdbcType=VARCHAR})
    order by create_time desc
    limit 0,${page.pageSize}
  </select>

  <select id="getAttentionDynamic" parameterType="edu.gmxx.share.dto.ShareDTO" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from s_share
    where user_id in (
      SELECT buser_id user_id FROM s_friend
      WHERE is_attention = 1  AND auser_id = #{share.userId,jdbcType=VARCHAR})
    order by create_time desc
    limit 0,${page.pageSize}
  </select>
</mapper>