<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.gmxx.share.dao.ShareTypeMapper" >
  <resultMap id="BaseResultMap" type="edu.gmxx.share.domain.ShareType" >
    <id column="share_type_id" property="shareTypeId" jdbcType="VARCHAR" />
    <result column="share_type_name" property="shareTypeName" jdbcType="VARCHAR" />
    <result column="type_num" property="typeNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    share_type_id, share_type_name, type_num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from s_share_type
    where share_type_id = #{shareTypeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from s_share_type
    where share_type_id = #{shareTypeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.gmxx.share.domain.ShareType" >
    insert into s_share_type (share_type_id, share_type_name, type_num)
    values (#{shareTypeId,jdbcType=VARCHAR}, #{shareTypeName,jdbcType=VARCHAR}, #{typeNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.gmxx.share.domain.ShareType" >
    insert into s_share_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shareTypeId != null" >
        share_type_id,
      </if>
      <if test="shareTypeName != null" >
        share_type_name,
      </if>
      <if test="typeNum != 0">
        type_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shareTypeId != null" >
        #{shareTypeId,jdbcType=VARCHAR},
      </if>
      <if test="shareTypeName != null" >
        #{shareTypeName,jdbcType=VARCHAR},
      </if>
      <if test="typeNum != 0" >
        #{typeNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.gmxx.share.domain.ShareType" >
    update s_share_type
    <set >
      <if test="shareTypeName != null" >
        share_type_name = #{shareTypeName,jdbcType=VARCHAR},
      </if>
      <if test="typeNum != 0" >
        type_num = #{typeNum,jdbcType=INTEGER},
      </if>
    </set>
    where share_type_id = #{shareTypeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.gmxx.share.domain.ShareType" >
    update s_share_type
    set share_type_name = #{shareTypeName,jdbcType=VARCHAR},
        type_num = #{typeNum,jdbcType=INTEGER}
    where share_type_id = #{shareTypeId,jdbcType=VARCHAR}
  </update>

  <select id="getAllShareType" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM s_share_type
    ORDER BY type_num
  </select>

  <select id="getShareTypeByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM s_share_type
    WHERE share_type_name = #{shareTypeName,jdbcType=VARCHAR}
  </select>

  <select id="getShareTypeAllCount" resultType="int">
    SELECT COUNT(share_type_id) FROM s_share_type
  </select>
</mapper>